<%- include('./partials/header') -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label>Post</label>
        <input class="form-control" type="text" name="postTitle" autocomplete="off" required>

        <label>Body</label>
        <textarea class="form-control" name="postBody" rows="5" required></textarea>
        
    </div>
    <button class="btn btn-primary mt-2" type="submit" name="push">Submit</button>
</form>

<%- include('./partials/footer') -%>